.Navbar {
    padding: 20px;
  }
  .logo a{
font-weight: bolder;
font-size: 32px;
text-decoration: none;
color: black;
  }
  a{
    color: rgb(165, 161, 161);
   
  }
a:hover{
    text-decoration: none;
    color: black;
  }
  .nav-list li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-right: 30px;
    list-style: none;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    /* color: #fff; */
    text-decoration: none;
  }
  
  .dropdown-list {
   border-radius: 10px;
    display: none;
    position: absolute;
    width: 200px;
    background-color:white;
    box-shadow: 2px 5px 5px 3px rgba(217,215,215,0.75);
-webkit-box-shadow: 2px 5px 5px 3px rgba(217,215,215,0.75);
-moz-box-shadow: 2px 5px 5px 3px rgba(217,215,215,0.75);
    z-index: 1;
  }
  .dropdown-list li{
    width: 100%;
    margin:auto;
  }
  .dropdown-list li p{
    margin: 30px;
  }
  .dropdown:hover .dropdown-list {
    display: block;
  }
.NavTwo{
  position: absolute;
  top: 45px;
  right: 0;
  margin-right: 20px;
  display: block;
}
.Navbar__Link{
  display: inline;
    margin-top: 30px;
    margin-right: 10px;
}
.Navbar__Link a{
text-decoration: none;
}

.Navbar__Link button{
    padding: 10px;
    border-radius: 10px;
}
.dropdown-list li p i{
    margin-right: 5px ;
}

@media only screen and (min-width: 768px){
  .Navbar__Link-toggle{
    display: none;
   }
}

@media  only screen and (max-width:768px) {
    .navbar-items,
    .Navbar__Link
    {
        display: none;
    }
   .Navbar__Link-toggle{
    display: block;
    cursor: pointer;
   }
}
.mainPage{
  position: relative;
    margin: 30px 120px 0px 120px;
    height: 70%;
}
.title{
  font-size: 56px;
  font-weight: bolder;
}

.sponsors{
  margin: 30px auto;
}


.sponsors div{
  display: inline;
  list-style: none;
  margin: 0 20px;
  padding: 0;
}
.banner{
  position: absolute;
  right: 0;
  top: 0;
float: right;
}
@media only screen  and (max-width:768px){
  .mainPage .theme{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 80vh;
  }
  body{
    margin: auto 20px;
  }
}
 
  .sidenavbar {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    z-index: 1;
  }
  
  .sidemenuToggle{
    display: block;
  }

  .sidenav-list .dropdown a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    list-style: none;
  }
  .dropdown-list li {
    text-decoration: none;
    list-style: none;
  }

  .sidenav-list{
    flex-direction: column;
  }
  .sidenav-list .dropdown{
    margin: 50px 5px;
    padding: 5px;
  }

  .sideHeaders{
    list-style: none;
    text-decoration: none;
  }
.dropdown {
  text-decoration: none;
  list-style:none;
}

.SideNavTwo{
 position: absolute;
 top: 45px;
 right: 0;
 margin-right: 20px;
 display: block;
}

.SideNavTwo .Navbar__Link{
  margin: 20px 0px;
}
.closebtn{
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.closemenu{
  display: none;
}